<!doctype html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Smart S3r{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <script src="{% static 'js/alpine.js' %}" type="module" defer></script>
    <script src="{% static 'js/flyonui/flyonui.js' %}" defer></script>
    {% block extra_head %}{% endblock %}
    <style>
      [x-cloak] { display: none !important; }
      html { scroll-behavior: smooth; }
    </style>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    
    <main>
      {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
