<!DOCTYPE html>
{% load static %} {% load django_bootstrap5 %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>{% block title %}E-Shop{% endblock %}</title>
  </head>
  <body>
    {% include 'components/navbar.html' %}

    <main class="container mb-5">{% block content %} {% endblock %}</main>

    {% bootstrap_javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/search-autocomplete.js' %}"></script>
  </body>
</html>
